@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  color: white;
  font-family: "Raleway", sans-serif;
}
span {
  color: red;
  font-weight: 500;

  top: 25%;

  font-size: 1.5rem;
  width: 400px;
}
@media screen and (min-width: 768px) {
  span {
    position: absolute;
    left: 40%;
  }
}
@media screen and (max-width: 900px) {
  span {
    position: absolute;
    left: 25%;
  }
}
